*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothings:grayscale;
    -moz-font-smoothings:antialiased;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'roboto', sans-serif;
}

header{
    display: flex;
    gap: 3.2rem;
    align-items: center;

    padding: 4rem 0 4rem 7.2rem;
    position: absolute;
    z-index: 2;
    width: 100%;
}

nav{
    display: flex;
    gap: 3.2rem;
    
}

header img{
    font-size: 4.2rem;
}

main{
    width: 100%;

}

section.home{
    background-image: url(../assets/mountains-universe-1.png);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100vh;

    display: grid;
    place-items: center;

}